<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADO.NET.LAB1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DBConnect.NorthwindConnectionString"
  connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=Northwind; Integrated Security=true" />
	</connectionStrings>
 <userSettings>
  <ADO.NET.LAB1.Properties.Settings>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </ADO.NET.LAB1.Properties.Settings>
 </userSettings>
</configuration>